---
layout: default
---

<script type="text/javascript">
  var sheet_data = null;
  function load_data(json) {
      sheet_data = json.feed.entry;
  }
  function read_data(parent) {
      var data = sheet_data;
      var cell = data[1]["gs$cell"];
      var val = cell["$t"];
      
      parent.append(val)
  }
  $(document).ready(function(){
      read_data($("#welcome_message"));
  });

</script>
<script src="https://spreadsheets.google.com/feeds/cells/1f1QHvgeESZ6-Dv-tGunOyrbsG6Fwc1V7BN2i6ffXwBU/1/public/values?alt=json-in-script&callback=load_data"></script>

<div class="container">
	<div class="row">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/unIIn_1JOAE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2>Welcome!</h2>
			<p id="welcome_message"></p>
		</div>
		<div class="col-sm-4">
			<h2>Latest Message</h2>
			{% for post in site.posts limit:1 %}
				<div class="latest-sermon">

				</div>

			{% endfor %}
		</div>
		<div class="col-sm-4">
			{% include events.html title="Upcoming Events" category="churchwide" %}
		</div>
	</div>
</div>
