<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wagga Wagga Church of Christ</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#0856a8">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="assets/images/icon.png">

	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.png" />

	<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" type="text/css" media="all">

	<script type='text/javascript' src='{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js'></script>
	<script type='text/javascript' src='{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
	
	<script type="text/javascript">
		var sheet_data = null;
		var fill_ids = [];
		var fill_text = [];
		
		var url = $(location).attr('href');
		
		function load_data(json) {
			sheet_data = json.feed.entry;
			
			for(var i=0; i<sheet_data.length; i++) {
				var cell = sheet_data[i]["gs$cell"];
				var val = cell["$t"];
				
				if (cell.row == 1) {
					fill_ids.push(val);
				} else if (cell.row == 2) {
					fill_text.push(val);
				}
		
			}
		}
		function write_data() {
			for(var i=0; i<fill_ids.length; i++) {
				var parent = $("." + fill_ids[i]);
				if (parent.length > 0) {
					parent.append(fill_text[i]);
				}
			}
		}
		$(document).ready(function(){
			write_data();
		});
	
	</script>
	<script src="https://spreadsheets.google.com/feeds/cells/1f1QHvgeESZ6-Dv-tGunOyrbsG6Fwc1V7BN2i6ffXwBU/1/public/values?alt=json-in-script&callback=load_data"></script>
</head>
<body>
	<header>
		{% include menu.html %}
	</header>

	<div>
		{{content}}
	</div>

	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>Sundays 9:45 am</h4>
						<p> 62 Heath St,<br/>
							Turvey Park NSW 2650
						</p>
						<div class="google-maps embedded_map"></div>
					</div>
					<div class="col-sm-4">
					</div>
					<div class="col-sm-4">
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©{{ 'now' | date: "%Y" }} <a href="https://github.com/Mountainview-WebDesign">Mountainview Web Design</a> and Simon Biggs under the MIT license - hosted by <a href="https://github.com/SimonBiggs/lifestonechurch">Github Pages</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>
